/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  
  color: #191308;
  background-color: #eae2b7;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Set the font family for any h1, h2, or h3 heading */
h1{
  text-align: center;
  margin-bottom: 40px;
  block
}

h2{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: "Playfair Display", Times, serif
  
}
h3 {
  text-align: center;
  font-family: "Playfair Display", Times, serif;
  margin-bottom: 20px
   
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

article {
  padding: 10px 0;
}

article div {
  text-align: center;
  width: 100%;
  display: block;
  margin: 0px auto;
}



p {
  line-height: 1.5;
  text-align: justify;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle {
  
  border-radius: 50%;
  border: 2px solid #003049;
  width: 200px;
  height: 200px;
  object-fit: cover;
 
}

a {
  color: #c41e3a;
}

a:link { color: #d62828; }
a:hover { color: #f77f00; }

footer {
  margin-top: 40px;
  font-size: 15px;
  
}


footer div{
  text-align: center;
}

footer p {
  text-align: center;
  color: #191308;
}
